<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Processor Details</title>
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="header"></div>
<div class="my-container">
    <div th:replace="menu"></div>
    <main>
<div th:switch="${processor}">
  <h2 th:case="null">No processor found!</h2>
  <div th:case="*">
      <a th:href="@{/processors}"><div class="btn">Go Back</div></a>
      <a th:href="@{/processor-details/{id}(id=${processor.id})}"><div class="btn activated">Product</div></a>
      <a th:href="@{/processor-info/{id}(id=${processor.id})}"><div class="btn">Characteristics</div></a>
      <div class="product_details">
          <div class="product_name" th:text="${processor.fullName}"></div>
          <img class="product_image_x2" th:src="@{'/images/processors/'+${processor.imageName}}" alt="processor_image">
          <div class="product_rating" th:text="'Rating: ' + ${processor.rating} + '/10'"></div>
          <div class="product_price" th:text="'Price: ' + ${processor.price} + '₴'"></div>
          <div class="product_isAvailable" th:text="${processor.isAvailable} ? 'AVAILABLE' : 'OUT OF STOCK'" th:style="${processor.isAvailable} ? 'color: green' : 'color: red'"></div>
          <a th:href="@{/wishlist-add/{id}/{type}(id=${processor.id},type=${processor.toString()})}">Add to wishlist</a>
      </div>
    <!--<table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Processor Name</th>
        <th>Company</th>
        <th>Socket Name</th>
        <th>Cores (N)</th>
        <th>Threads (N)</th>
        <th>Frequency (MHz)</th>
        <th>Max Frequency (MHz)</th>
        <th>Tech Process (nm)</th>
        <th>TDP (W)</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="processor : ${processors}">
        <td th:text="${processor.id}"></td>
        <td th:text="${processor.fullName}"></td>
        <td th:text="${processor.company}"></td>
        <td th:text="${processor.socketName}"></td>
        <td th:text="${processor.cores}"></td>
        <td th:text="${processor.threads}"></td>
        <td th:text="${processor.frequency}"></td>
        <td th:text="${processor.maxFrequency}"></td>
        <td th:text="${processor.techProcess}"></td>
        <td th:text="${processor.tdp}"></td>
        <td><a th:href="@{processor-details/{id}(id=${processor.id})}">Details</a></td>
      </tr>
      </tbody>
    </table>-->
  </div>
</div>
    </main>
</div>
<div th:replace="footer"></div>
</body>
</html>