<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ssd List</title>
    <link rel="stylesheet" href="/css/products.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="header"></div>
<div class="my-container">
  <div th:replace="menu"></div>
  <main>
<div th:switch="${ssds}">
  <h2 th:case="null">No ssds found!</h2>
  <div th:case="*">
    <h2>Ssds</h2>
    <form method="get" action="ssd-search">
      <input class="search-field" type="text" name="keyword" placeholder="search ssds" />
      <input type="submit" name="submit" value="Search" />
    </form>
    <div id="products">
      <div class="product" th:each="ssd : ${ssds}">
        <img class="product_image" th:src="@{'/images/ssd/'+${ssd.imageName}}" alt="ssd_image">
        <div class="product_name" th:text="${ssd.fullName}"></div>
        <div class="product_rating" th:text="'Rating: ' + ${ssd.rating} + '/10'"></div>
        <div class="product_price" th:text="'Price: ' + ${ssd.price} + '₴'"></div>
        <div class="product_isAvailable" th:text="${ssd.isAvailable} ? 'AVAILABLE' : 'OUT OF STOCK'" th:style="${ssd.isAvailable} ? 'color: green' : 'color: red'"></div>
        <div class="product_details"><a th:href="@{ssd-details/{id}(id=${ssd.id})}"><div class="btn-details">Details</div></a></div>
      </div>
    </div>
    <!--<table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Ssd Name</th>
        <th>Company</th>
        <th>Socket Name</th>
        <th>Cores (N)</th>
        <th>Threads (N)</th>
        <th>Frequency (MHz)</th>
        <th>Max Frequency (MHz)</th>
        <th>Tech Process (nm)</th>
        <th>TDP (W)</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="ssd : ${ssds}">
        <td th:text="${ssd.id}"></td>
        <td th:text="${ssd.fullName}"></td>
        <td th:text="${ssd.company}"></td>
        <td th:text="${ssd.socketName}"></td>
        <td th:text="${ssd.cores}"></td>
        <td th:text="${ssd.threads}"></td>
        <td th:text="${ssd.frequency}"></td>
        <td th:text="${ssd.maxFrequency}"></td>
        <td th:text="${ssd.techProcess}"></td>
        <td th:text="${ssd.tdp}"></td>
        <td><a th:href="@{ssd-details/{id}(id=${ssd.id})}">Details</a></td>
      </tr>
      </tbody>
    </table>-->
  </div>
</div>
  </main>
</div>
<div th:replace="footer"></div>
</body>
</html>