<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Profile page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="header"></div>
<div class="my-container">
  <div th:replace="menu"></div>
  <main>
    <h2>My Profile</h2>
    <div class="product_name titled">Password confirmation:</div>
    <form action="#" th:action="@{/password-confirmation}" th:object="${password}" method="post">
      <p>Enter your current password: <input class="normal-field" type="password" th:field="*{currentP}" /></p>
      <p>Enter your new password: <input class="normal-field" type="password" th:field="*{newP}" /></p>
      <p><input type="submit" value="Change Password" /></p>
    </form>
  </main>
</div>
<div th:replace="footer"></div>
</body>
</html>