<menu>
    <div class="back">
        <a class="white" th:href="@{/home}"><div class="btn">Home</div></a>
        <a class="white" th:href="@{/processors}"><div class="btn">Processors</div></a>
        <a class="white" th:href="@{/motherboards}"><div class="btn">Motherboards</div></a>
        <a class="white" th:href="@{/videocards}"><div class="btn">Videocards</div></a>
        <a class="white" th:href="@{/ram}"><div class="btn">RAM</div></a>
        <a class="white" th:href="@{/ssd}"><div class="btn">SSD</div></a>
        <a class="white" th:href="@{/hdd}"><div class="btn">HDD</div></a>
        <a class="white" th:href="@{/power}"><div class="btn">Power</div></a>
    </div>
</menu>