<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Videocard List</title>
    <link rel="stylesheet" href="/css/products.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="header"></div>
<div class="my-container">
  <div th:replace="menu"></div>
  <main>
<div th:switch="${videocards}">
  <h2 th:case="null">No videocards found!</h2>
  <div th:case="*">
    <h2>Videocards</h2>
    <form method="get" action="videocard-search">
      <input class="search-field" type="text" name="keyword" placeholder="search videocards" />
      <input type="submit" name="submit" value="Search" />
    </form>
    <div id="products">
      <div class="product" th:each="videocard : ${videocards}">
        <img class="product_image" th:src="@{'/images/videocards/'+${videocard.imageName}}" alt="videocard_image">
        <div class="product_name" th:text="${videocard.fullName}"></div>
        <div class="product_rating" th:text="'Rating: ' + ${videocard.rating} + '/10'"></div>
        <div class="product_price" th:text="'Price: ' + ${videocard.price} + '₴'"></div>
        <div class="product_isAvailable" th:text="${videocard.isAvailable} ? 'AVAILABLE' : 'OUT OF STOCK'" th:style="${videocard.isAvailable} ? 'color: green' : 'color: red'"></div>
        <div class="product_details"><a th:href="@{videocard-details/{id}(id=${videocard.id})}"><div class="btn-details">Details</div></a></div>
      </div>
    </div>
    <!--<table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Videocard Name</th>
        <th>Company</th>
        <th>Socket Name</th>
        <th>Cores (N)</th>
        <th>Threads (N)</th>
        <th>Frequency (MHz)</th>
        <th>Max Frequency (MHz)</th>
        <th>Tech Process (nm)</th>
        <th>TDP (W)</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="videocard : ${videocards}">
        <td th:text="${videocard.id}"></td>
        <td th:text="${videocard.fullName}"></td>
        <td th:text="${videocard.company}"></td>
        <td th:text="${videocard.socketName}"></td>
        <td th:text="${videocard.cores}"></td>
        <td th:text="${videocard.threads}"></td>
        <td th:text="${videocard.frequency}"></td>
        <td th:text="${videocard.maxFrequency}"></td>
        <td th:text="${videocard.techProcess}"></td>
        <td th:text="${videocard.tdp}"></td>
        <td><a th:href="@{videocard-details/{id}(id=${videocard.id})}">Details</a></td>
      </tr>
      </tbody>
    </table>-->
  </div>
</div>
  </main>
</div>
<div th:replace="footer"></div>
</body>
</html>